.my-cancellations {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin-top: 80px;
}

.my-cancellations h2 {
    text-align: center;
    color: #444;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.my-cancellations ul {
    list-style-type: none;
    padding: 0;
}

.my-cancellations .cancellation-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-image {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    object-fit: cover;
}

.item-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
}

.item-name {
    font-size: 0.9rem;
    color: #333;
    flex: 2;
}

.item-price {
    font-size: 0.9rem;
    color: #28a745;
    flex: 1;
    text-align: right;
}

.item-quantity {
    font-size: 0.9rem;
    color: #007bff;
    flex: 1;
    text-align: right;
}


@media (max-width: 768px) {
    .my-cancellations {
        padding: 15px;
    }

    .my-cancellations h2 {
        font-size: 1.5rem;
    }

    .cancellation-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px;
    }

    .item-image {
        width: 40px;
        height: 40px;
    }

    .item-info {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-left: 0;
    }

    .item-name {
        font-size: 0.8rem;
    }

    .item-price, .item-quantity {
        font-size: 0.8rem;
        text-align: left;
    }
}
