* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid #eaeaea;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #eaeaea;
  padding: 5px;
  border-radius: 5px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 5px;
}

.search-bar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 20px;
}

.icons a {
  text-decoration: none;
  color: black;
  margin-left: 15px;
  font-size: 20px;
}

.icons a:hover {
  color: #ff4c4c;
}
