.coming-soon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .coming-soon-text {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    text-align: center;
  }

  @media (max-width: 768px) {
    .coming-soon-container {
        height: auto;
        padding: 20px;
    }

    .coming-soon-text {
        font-size: 2rem;
    }
}
