.signup-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .signup-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-image {
    width: 70%;
  }
  
  .signup-right {
    flex: 1;
    padding: 20px;
    text-align: left;
  }
  .signup-right-info{
    margin-bottom: 15px;
  }
  .signup-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .signup-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .signup-create-btn {
    padding: 10px;
    background-color: #e53e3e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
  }
  
  
  .signup-login-link {
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .signup-container {
      flex-direction: column;
      height: auto;
      padding: 20px;
    }
  
    .signup-left {
      justify-content: flex-start;
      margin-bottom: 20px;
    }
  
    .signup-image {
      width: 100%;
    }
  
    .signup-right {
      padding: 10px;
      text-align: center;
    }
  
    .signup-right-info {
      margin-bottom: 10px;
    }
  
    .signup-form {
      gap: 8px;
    }
  
    .signup-input {
      font-size: 14px;
      padding: 8px;
    }
  
    .signup-create-btn {
      font-size: 14px;
      padding: 8px;
    }
  }
  
  @media (max-width: 480px) {
    .signup-left {
      margin-bottom: 10px;
    }
  
    .signup-image {
      width: 80%;
      margin-left: 40px;
    }
  
    .signup-right {
      padding: 5px;
    }
  
    .signup-right-info {
      font-size: 14px;
    }
  
    .signup-input {
      font-size: 12px;
      padding: 6px;
    }
  
    .signup-create-btn {
      font-size: 12px;
      padding: 6px;
    }
  }
  